.div-main{
    background-image: url(../images/Galaxy\ Space\ Background_Galaxy\ Space\ Background.svg);
    width: 1800px;
    height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.rocket-box{
    position: absolute;
    bottom: 65px;
    left: 150px;
    animation-name: rocket1;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.rocket{
    width: 250px;
    height: 200px;
}
@keyframes rocket1{
    from{bottom: 65px; left: 150px;}
    to{bottom: 700px; left:800px; transform: rotate(60deg);}
}
.satellite-box{
    position: absolute;
    animation: satellite1 10s linear infinite 3s;
}
.satellite{
    width: 250px;
    height: 200px;
}
@keyframes satellite1{
    0% {top: 0px; left: 0px; transform: rotate(20deg);}
    20% {top: 10px; left: 300px; transform: rotate(60deg);}
    40%{top: 150px; left: 500px; transform: rotate(150deg);}
    80% {top: 10px; left: 1500px;}
}
.ufo-box{
    position: absolute;
    top: 50px;
    left: 50px;
    animation: ufo1 10s linear infinite 1s;
}
.ufo{
    width: 250px;
    height: 200px;
}
@keyframes ufo1{
    0% {top:400px; left:0px; transform: rotate(10deg);}
    20%{top: 250px; left: 400px; transform: rotate(30deg);}
    40%{top: 250px; left: 700px;}
    60%{top: 250px; left: 1100px;}
    80%{top: 250px; left: 1400px;}
    100% {top: 200px; left: 1620px;}
}
.meteorites-box{
    position: absolute;
    animation: meteor1 10s linear infinite 1s;
}
.meteorites{
    width: 250px;
    height: 200;
}
@keyframes meteor1{
    0%{top: 200px; left: 100px;}
    20%{top: 300px;left: 200px;}
    50%{top: 400px;left: 300px;}
    100%{top: 500px;left: 500px;}
}
.galaxy-box{
    position: absolute;
    animation: galaxy1 10s linear infinite 2s;
}
.galaxy{
    width: 250px;
    height: 200px;
}
@keyframes galaxy1{
    0%{bottom: 50px; right: 100px; transform: rotate(45deg);}
    20%{bottom: 200px;right: 200px; transform: rotate(90deg);}
    50%{ bottom: 70px;right: 500px;transform: rotate(135deg);}
    100%{bottom: 100px;right: 800px; transform: rotate(360deg);}
}